@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
    <h4>Explorer.Participer.Gérer </h4>
    <h4>Vos events en un click!</h4>

    <p>Vous trouver la liste des évennements <a  href='@Url.Action("GetAllEvents", "Events")'>ici</a>.</p>
</div>
